<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>動物一覧</title>
	<meta charset="utf-8" />
</head>

<body>
	<main>
        <h1>動物検索画面</h1>
        <form action="animal-detail" method="post">
            <select name="animal">
                <option th:each="animal : ${animalList}" th:value="${animal.id}">
                    <p th:text="${animal.japaneseName}"></p>
                </option>
            </select>
            <button type="submit">検索</button>
        </form>
    </main>
</body>
</html>